/* solarizeddark */
div.codehilite pre {
    background-color: #002b36;
}

/* solarizedlight
div.codehilite pre {
    background-color: #fdf6e3;
}*/

/* monokai
div.codehilite pre {
    background-color: #000000;
}*/