{% extends "blog/includes/base.html" %}

    {% load custom_markdown %}

    {% block content %}
        {% for post in object_list %}
        <div class="post">
        <h1><a href="{{ post.get_absolute_url }}">{{ post.titulo }}</a></h1>
        <h3>{{ post.pub_data }}</h3>
        {{ post.texto|custom_markdown }}
        </div>
        <a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a>
        {% endfor %}

        {% if page_obj.has_previous %}
        <a href="/{{ page_obj.previous_page_number }}/">Anterior</a>
        {% endif %}
        {% if page_obj.has_next %}
        <a href="/{{ page_obj.next_page_number }}/">Próxima</a>
        {% endif %}

    {% endblock %}